.footer {
  display: flex;
  justify-content: center;
}
.pageButton {
  width: 4rem;
  height: 4rem;
  margin: 0 0.4rem;
  font-family: "Pretendard", sans-serif;
  border: 1px solid var(--gray200);
  border-radius: 4rem;
  background-color: var(--white);
}
.pageButton:hover {
  cursor: pointer;
}
.pageButton.on {
  background-color: var(--primary100);
  color: var(--white);
}
.pageButton.disabled {
  opacity: 0.5;
}
